<!-- ✅ キャラクター台詞 -->
<div class="my-10 mx-auto text-center">
  <h1>
    え？私は埼玉県民じゃない…？
  </h1>

  <h1 class="text-3xl font-bold text-orange-500">
    春日部つむぎ<br />
    「お前が埼玉県民になるんだよ！」
  </h1>
  <h1 class="text-3xl font-bold text-lime-500 mt-6">
    ずんだもん<br />
    「えぇ…」
  </h1>
</div>
