<div class="">
  <div class="px-3 w-full rounded-lg mb-8">
    <div class="spot-card">
      <header class="mb-8">
        <h1 class="text-3xl w-full font-bold text-center">プライバシーポリシー</h1>
        <p class="text-center mb-2">（個人情報保護方針）</p>
        <div class="divider"></div>
      </header>

      <div class="max-w-none mx-4">
        <section class="mb-8">
          <h2 class="text-2xl font-semibold mb-4 text-black flex items-center">
            1. お客様から取得する情報
          </h2>
          <p class="mb-4">当社は、お客様から以下の情報を取得します。</p>
          <ul class="list-disc pl-8 space-y-2">
            <li>氏名（ニックネームやペンネームを含む）</li>
            <li>メールアドレス</li>
            <li>外部サービスでお客様が利用するIDおよび、外部サービスのプライバシー設定によりお客様が開示を認めた情報</li>
            <li>Cookieその他の類似技術により取得される識別情報（IPアドレス、閲覧日時、ページ遷移履歴等）</li>
            <li>OSが生成するID、端末の種類、端末識別子など、お客様が利用するOSや端末に関する情報</li>
            <li>当社ウェブサイトにおける滞在時間、入力履歴、購買履歴等の行動履歴</li>
            <li>当社アプリの起動時間、入力履歴等の利用履歴</li>
            <li>お客様が当社サービス内で作成したコンテンツ(登録したスポット等を含む)</li>
          </ul>
        </section>

        <section class="mb-8">
          <h2 class="text-2xl font-semibold mb-4 text-primary-focus flex items-center">
            2. お客様の情報を利用する目的
          </h2>
          <p class="mb-4">当社は、お客様から取得した情報を以下の目的で利用します。</p>
          <ul class="list-disc pl-8 space-y-2">
            <li>サービス登録手続の受付、本人確認および認証処理のため</li>
            <li>当社サービスにおけるお客様の利用履歴の管理のため</li>
            <li>当社サービスの利便性向上や機能改善に役立てるため</li>
            <li>当社のサービスに関するご案内のため</li>
            <li>お客様からのお問い合わせへの対応のため</li>
            <li>当社の規約や法令に違反する行為に対する対応のため</li>
            <li>当社サービスに関する重要なお知らせや契約上必要な連絡を行うため</li>
            <li>当社規約の変更などを通知するため</li>
            <li>その他、当社サービスの提供、維持、保護および改善のため</li>
          </ul>
        </section>

        <section class="mb-8">
          <h2 class="text-2xl font-semibold mb-4 text-primary-focus flex items-center">
            3. 安全管理のために講じた措置
          </h2>
          <div class="p-4">
            <p>当社は、お客様の情報を保護するため、アクセス制限、通信の暗号化（SSL）など、適切な安全管理措置を講じています。詳細については、法令に基づき合理的な範囲で個別にご案内いたします。</p>
          </div>
        </section>

        <section class="mb-8">
          <h2 class="text-2xl font-semibold mb-4 text-primary-focus flex items-center">
            4. 第三者提供
          </h2>
          <p class="mb-4">当社は、お客様の個人データ（個人情報保護法第16条第3項）を、以下の場合を除き、あらかじめお客様の同意を得ることなく第三者（日本国外の者を含む）に提供することはありません。</p>
          <ul class="list-disc pl-8 space-y-2">
            <li>個人データの取扱いを外部に委託する場合</li>
            <li>当社や当社サービスが買収された場合</li>
            <li>事業パートナーとの共同利用（共同利用の内容は別途公表します）</li>
            <li>法令により第三者提供が認められている場合</li>
          </ul>
        </section>

        <section class="mb-8">
          <h2 class="text-2xl font-semibold mb-4 text-primary-focus flex items-center">
            5. アクセス解析ツールの利用
          </h2>
          <p class="mb-2">当社は、アクセス解析のために「Googleアナリティクス」を利用しています。GoogleアナリティクスはCookieを使用し、匿名のトラフィックデータを収集します。個人を特定するものではありません。</p>
          <p class="mb-2">Cookieを無効にすることで、情報の収集を拒否することが可能です。詳しくは、お使いのブラウザの設定をご確認ください。</p>
          <p class="mb-2">
          Googleアナリティクスの詳細については、
            <a href="https://marketingplatform.google.com/about/analytics/terms/jp/" class="link link-primary">
              こちら
            </a>
          をご参照ください。
          </p>
        </section>

        <section class="mb-8">
          <h2 class="text-2xl font-semibold mb-4 text-primary-focus flex items-center">
            6. Google APIサービスのユーザーデータポリシーについて
          </h2>
          <p class="mb-2">当社は、Google APIから受け取った情報の使用および他のアプリへの転送は、使用制限の要件を含め、Google API Services User Data Policyに準拠します。</p>
          <p class="mb-2">Google APIサービスのユーザーデータに関するポリシーについて、詳しくは
            <a href="https://developers.google.com/terms/api-services-user-data-policy?hl=ja" class="link link-primary">
              こちら
            </a>
          をご参照ください。
          </p>
        </section>

        <section class="mb-8">
          <h2 class="text-2xl font-semibold mb-4 text-primary-focus flex items-center">
            7. プライバシーポリシーの変更
          </h2>
            <div>
              <span>当社は、必要に応じて本プライバシーポリシーを変更することがあります。その場合、変更後の施行時期および内容を、当社ウェブサイト等を通じて適切に通知または公表します。</span>
            </div>
        </section>

        <section class="mb-8">
          <h2 class="text-2xl font-semibold mb-4 text-primary-focus flex items-center">
            8. お問い合わせ
          </h2>
          <p>お客様の情報の開示、訂正、利用停止、削除をご希望される場合は、
            <%= link_to "お問い合わせフォーム", contact_form_path, class: "text-blue-500 underline" %>
          よりご連絡ください。</p>
        </section>

        <section class="text-end my-4">
          <p>以上</p>
          <p class="mt-4 text-right text-gray-600">最終更新日: 2025年8月8日</p>
        </section>
      </div>
    </div>
  </div>
</div>