<div class="flex flex-col items-center pt-10">
  <div class="card w-full max-w-sm border-red">
    <div class="card-body">
      <%= image_tag "現在製作中.png", alt: "現在製作中……", class: "w-100 h-100" %>
    </div>

    <h1 class="text-2xl text-center">
      🚧現在製作中です🚧
    </h1>
  </div>
</div>


