<div class="flex items-center justify-center items-center bg-lime-100 pt-10">
  <div class="card w-full max-w-sm border-red">
    <div class="card-body">
      <%= image_tag "sorry.png", alt: "現在製作中……"%>
    </div>

    <h1 class="text-2xl text-center">
      🚧現在製作中です🚧
    </h1>
  </div>
</div>


