<div class="pb-16">
  <div class="max-w-5xl mx-auto">
    <%= render 'shared/flash_message'%>

    <!-- 全体の黄色背景ボックス -->
    <div class="bg-orange-200 rounded-lg border border-orange-700 p-4 space-y-6">

      <%= render partial: 'shared/spot_info', locals: { mode: "favorites" } %>

    </div>
  </div>
  <%= render 'shared/your_page_footer_form' %>
</div>
