<h2 class="flex items-center justify-center text-2xl font-semibold border-4 border-orange-300 bg-orange-100 rounded-lg">
  周辺探索
</h2>

<h2 class="flex items-center justify-center text-2xl font-semibold mt-4">
  現在地から近いスポットを探してみよう！
</h2>

<div class="py-2">
  <%# ----------------------------------- %>
  <div class="py-2">
    <div tabindex="0" class="collapse collapse-arrow bg-base-100 border-2">
      <div class="collapse-title font-semibold">
        <p class="font-bold test-xl">
          ・ 現在地
          <%= image_tag "how_to_use/shared/current_location.png", class: "inline mx-1" %>
        </p>
      </div>
    
      <div class="collapse-content text-sm">
        <div class="ml-4">
          現在地に青いアイコンが表示されます！<br />
          ※ 現在地を表示するには位置情報の使用を許可が必要です。
        </div>
      </div>
    </div>
  </div>
  
  <%# ----------------------------------- %>
  <div class="py-2">
    <div tabindex="0" class="collapse collapse-arrow bg-base-100 border-2">
      <div class="collapse-title font-semibold">
        <p class="font-bold test-xl">
          ・ 登録されたスポット
          <%= image_tag "how_to_use/shared/spot_location.png", class: "inline mx-1" %>
        </p>
        </p>
      </div>
    
      <div class="collapse-content text-sm">
        <div class="ml-4">
          登録されたスポットの場所が表示されます。<br />
          ※ 探索と異なり、吹き出しは表示されません
        </div>
      </div>
    </div>
  </div>

  <%# ----------------------------------- %>
  <div class="py-2">
    <div tabindex="0" class="collapse collapse-arrow bg-base-100 border-2">
      <div class="collapse-title font-semibold">
        <p class="font-bold test-xl">
          ・ 近くスポット一覧から<br />

          <span class="ml-4">
            <span class="font-bold text-blue-500 underline">
              スポット詳細へ
            </span>
            をクリックしてみよう！
          </span>
        </p>
      </div>
    
      <div class="collapse-content text-sm">
        <div class="ml-4 py-2">
          <%= image_tag "how_to_use/spots/search_near_spot.png", class: "mx-1 pb-2" %>
          近くにあるスポットが5つ表示されます！<br />
          画像を気になったら「スポット詳細へ」をクリックして、詳細を見てみましょう！
        </div>
      </div>
    </div>
  </div>
</div>


<%= render "how_to_use/default_question" %>