<input type="checkbox" id="my_modal_7" class="modal-toggle" />
<div class="modal" role="dialog">
  <div class="modal-box max-w-2xl">
    <h3 class="text-lg font-bold mb-4">📖 このページの使い方</h3>
    
    <%= render 'how_to_use/sort' %>
    
    <div class="modal-action pt-4">
      <label for="my_modal_7" class="btn btn-primary">閉じる</label>
    </div>
  </div>
  <label class="modal-backdrop" for="my_modal_7">Close</label>
</div>