<h2 class="flex items-center justify-center text-2xl font-semibold mb-4 border-4 border-orange-300 bg-orange-100 rounded-lg mt-4">
  ご不明点につきまして
</h2>

<p>
  本サイトのホームよりお問い合わせができます。<br />
  そちらよりご連絡いただきますようお願い致します。
</p>