<h2 class="flex items-center justify-center text-2xl font-semibold border-4 border-orange-300 bg-orange-100 rounded-lg">
  はじめに
</h2>

<h2 class="flex items-center justify-center text-2xl font-semibold mt-4">
  移動時間をより楽しく！
</h2>

<p class="py-4">
  本サイトは埼玉県の道中で<br />
  「サイトにあまり載っていない穴場」や「ちょっと変わったスポット」を<br />
  紹介するのサービスです。<br />
  
  <br />
  まずは下に表示されている<br />
  <%= image_tag "how_to_use/footer_searching.png", class: "inline mx-1" %>をクリックしてみましょう！<br />
</p>

<p>
  埼玉県で「サイトにあまり載っていない穴場」や「ちょっと変わったスポット」をGoogleMap上で見ることができます。<br />
</p>

<%= render "how_to_use/default_question" %>