<!-- ヘッダー -->
<div class="flex items-center justify-between py-2">
  <div class="text-3xl font-bold text-orange-600">
    <a href="#" class="px-1">Saita<span class="text-yellow-400">Manear</span></a>
  </div>

  <div class="flex flex-row">
    <label 
    for="my_modal_7" 
    class="btn bg-transparent flex flex-col border-none shadow-none hover:btn-ghost"
    >
      <%= image_tag 'header/question.png', alt: "使い方", class: "w-6 h-6" %>
      <span>使い方</span>
    </label>

    <%= render 'how_to_use/application' %>
    

    <%= link_to user_profile_path, class:"btn btn-ghost flex flex-col border-none shadow-none" do %>
      <%= image_tag 'header/my_page.png', alt: "マイページ", class: "w-6 h-6" %>
      <span>マイページ</span>
    <% end %>
  </div>
</div>
