  <div class="py-2">
    <div tabindex="0" class="collapse collapse-arrow bg-base-100 border-2">
      <div class="collapse-title font-semibold">
        <p class="font-bold test-xl">
          ・ スポットを登録したい
        </p>
      </div>
    
      <div class="collapse-content text-sm">
        <div class="ml-4">
          まずは下に表示されている<br />
          <%= image_tag "how_to_use/footer_new_spot.png", class: "inline mx-1" %>をクリックしましょう！<br />
        </div>
      </div>
    </div>
  </div>