<ul class="menu p-4 w-64 min-h-full bg-base-200 text-base-content">
  <li>
    <%= link_to 'users ðŸ‘¤', super_admin_users_path %>
  </li>
  <li>
    <%= link_to 'posts ðŸ’¬', super_admin_spots_path %>
  </li>
  <li>
    <%= link_to 'service_tags ðŸ·ï¸âœˆï¸ ', super_admin_service_tags_path %>
  </li>
</ul>

