<ul class="menu p-4 w-64 min-h-full bg-base-200 text-base-content">
  <li>
    <%= link_to '#' do %>
      <%= "user 👤" %>
    <% end %>
  </li>
  <li>
    <%= link_to '#' do %>
      <%= "posts 💬" %>
    <% end %>
  </li>
</ul>

